li {
  font-size: 20px;
}

.map-info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.map-picture{
  height: 133px;
  width: 200px;
  background-size: 100%;
  // margin-left: 20px;
  // margin-top: 20px;
}

.map-text{

}
