.profile-picture {
    height: 280px;
    background-size: cover;
    background-position: center;
}

.user-description h5 {
  font-size: 20px;
}

.user-description h5 {
    font-size: 18px;
    font-weight: normal;
    }
