.club-picture-show {
  background-size: cover ;
  width: 100%;
  height: 200px;
  background-position: center;
}

.user_banner {
  width: 100%;
  height: 55px;
  background-color: #EEEEEE;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 15px;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
