.evaluation-container {
  background-color: #EEEEEE;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  display: flex;
  height: calc(100vh - 140px);
  align-items: center;
  text-align: center;
}

.evaluation-form h3 {
  font-size: 28px;
  font-weight: bolder;
  color: #606470;
  margin-bottom: 20px;
}

.evaluation-form .btn-primary {
   width: 160px;
    color: white;
    background-color: #C338FF;
    border: 1px solid white;
}

