<div class="navbar-filter">
    <%= link_to locations_path, class: "filter-item filter-link", style: "text-align: center" do %>
    <i class="fas fa-map"></i> Map
  <% end %>
  <%= link_to "#", class: "filter-item filter-link", style: "text-align: center" do %>
    <i class="fas fa-burn"></i> Hot
  <% end %>
  <%= link_to "#", class: "filter-item filter-link", id: "no-border", style: "text-align: center" do %>
    Queue
  <% end %>
</div>
