<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<div class="navbar-filter" id="navbar-filter">
  <%= link_to locations_path, class: "filter-item filter-link", style: "text-align: center", id: "active" do %>
  🗺️
  <% end %>
  <%= link_to index_atmosphere_path, class: "filter-item filter-link", style: "text-align: center" do %>
  🔥
  <% end %>
  <%= link_to index_queue_path, class: "filter-item filter-link", id: "no-border", style: "text-align: center" do %>
  🚶‍♂️
  <% end %>
</div>
