<div class="navbar-filter">
  <%= link_to "#", class: "filter-item filter-link", style: "text-align: center" do %>
    <i class="fas fa-map"></i> Map
  <% end %>
  <%= link_to "#", class: "filter-item filter-link", style: "text-align: center" do %>
    <i class="fas fa-burn"></i> Hot
  <% end %>
  <%= link_to "#", class: "filter-item filter-link", id: "no-border", style: "text-align: center" do %>
    <i class="fas fa-hourglass-start filter-symbol"></i> Queue
  <% end %>
</div>
