.navbar-filter {
  background: white;
  transition: all 0.3s ease;
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 5px solid #EEEEEE;
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 1;
  list-style-type: none;

  a {
    padding: 4px 0px;
  }

  i {
    opacity: 0.4
  }
}

#active {
  border-bottom: 2px solid #c337ff
}

#active > i {
  opacity: 1;
}

.nav-tabs {
  padding: 0px;
}

.nav-tabs > li.active > a {
  color: #C338FF;
  border-bottom: 2px solid #c337ff;
  cursor: default;
  padding-bottom: 5px;
  text-decoration: none;
  border: none;
}

.nav-tabs > li {
   width: 50%;
   text-align: center;

  &:first-child {
  border-right: 1px solid #EEEEEE;
  }
}

.nav-tabs > li > a {
  color: #606470;
  font-size: 16px;
  border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #C338FF;
    background-color: transparent;
    border: none;
    border-bottom-color: transparent;
    cursor: default;
}


.filter-item {
  cursor: pointer;
  width: 33%;
  border-right: 1px solid #EEEEEE;
}

.filter-link {
  color: #606470;
  font-size: 24px;
}

.filter-link:hover {
  color: #C338FF;
  text-decoration: none;
  font-size: 24px;
}

.filter-symbol {
  font-size: 22px;
}

#no-border {
  border-right: none;
}

