.navbar-filter {
  background: white;
  transition: all 0.3s ease;
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 5px solid #EEEEEE;
}

.filter-item {
  cursor: pointer;
  width: 33%;
  border-right: 1px solid #EEEEEE;
}

.filter-link {
  color: #BBBBBB;
  font-size: 16px;
}

.filter-link:hover {
  color: #C338FF;
  text-decoration: none;
  font-size: 16px;
}

.filter-symbol {
  font-size: 22px;
}

#no-border {
  border-right: none;
}
