#stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stat-element {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;

  li:first-child {
    padding-right: 10px;
  }
}
