  <div class="background-evaluation"></div>
<div class="page-content-2">
  <div class="heading-final">
    <h2 class="welcome">Welcome @ <%= @checkin.location.name %></h2>
  </div>
<!--
    <div class="container-2"> -->
      <div class="row">
        <div class="col-xs-12">
          <div class="profile-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @checkin.location.photo, secure: true %>')">
          </div>
        </div>
      </div>



<div class ="button-container">
    <div class="row" id="whatever">
    <div class="col-xs-12">
      <div class="btn btn-primary further-options">
        <%= link_to "Start chatting with other visitors", conversations_path %>
      </div>
    </div>
  <!-- </div> -->
</div>




