<%= simple_form_for(@checkin, url: checkins_create_path, method: :post) do |f| %>
  <%= f.input :latitude, as: :hidden, id: :"lat" %>
  <%= f.input :longitude, as: :hidden, id: :"lng" %>
<% end %>
<button id="checkin" >Checkin now</button>
