<h6><%= location.name %></h6>

<ul class="list-in-line"></ul>
<li> <%=location.calculate_average_atmosphere %></li>
<li> <%=location.calculate_average_queue %></li>
</ul>

<%= link_to 'Details', location_path(location) %>
