<div class="map-info">
  <div class="map-picture">
    <div class="profile-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path location.photo, secure: true %>')">
    </div>
  </div>
  <br>
  <div class="map-text">
    <ul class="list-inline">
      <li><%= link_to location.name, location_path(location) %></li>
      <li> <i class="fas fa-burn"></i> <%=location.calculate_average_atmosphere %> </li>
      <li> <i class="far fa-clock"></i> <%=location.calculate_average_queue%></li>
    </ul>
  </div>
</div>
