<!-- Variable for the atmosphere index page when used inside the following loop @locations.each do |location|
----------------------------------------------------
name -> location.name
atmosphere -> location.calculate_average_atmosphere
queue_time -> location.calculate_average_queue
number_of_friends -> tbd
link -> link_to location_path(location)
same holds for index_queue view-->

<% @locations.each do |location| %>
<p><%= location.name %> <%= location.calculate_average_atmosphere %></p>
<% end %>
