
<div class="container">
  <br>
  <div id="redirect-text">
    <h4>We are sorry, <br> our DJ doesn't know this club.</h4>
    <%= image_tag('catstello.png') %>
    <h5> <%= link_to 'Bachk to the map', locations_path  %></h5>
  </div>
</div>
