<div class="container">
  <br>


<!--   <img src="https://octodex.github.com/images/catstello.png" alt="Wrong club, mate"> -->
<h4>We are sorry, <br> our DJ doesn't know this club.</h4>
<%= image_tag('catstello.png') %>
  <h5> <%= link_to 'Bachk to the map', locations_path  %></h5>
</div>
