<div class="container">
<!--   <img src="https://octodex.github.com/images/catstello.png" alt="Wrong club, mate"> -->
<h4>Sorry, this is not a club we know.</h4>
<%= image_tag('catstello.png') %>
  <h5> <%= link_to "Back to the map", locations_path %></h5>
</div>
