<h1><%= @location.name %></h1>


<!-- Variable for the show page
----------------------------------------------------
name -> location.name
atmosphere -> location.calculate_average_atmosphere
queue_time -> location.calculate_average_queue
number_of_friends -> tbd
link -> link_to locations_path
 -->






